img{
  display: block;
  margin: auto;
}

sh-device{
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 24px 0px;
  position: relative;
  .device{
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 49;
    &.dragover{
      sh-fragment{
        position: relative;
        z-index: 49;
      }
    }
  }
  img{
    position: absolute;
    z-index: 48;
    top:0;
    bottom:0;
    left:0;
    right:0;
  }
}

sh-fragment, sh-fragment > div{
  display: block;
  width: inherit;
  height: inherit;
  .fragment{
    position: relative;
  }
}


sh-fragment{
  overflow: hidden;
  .fragment-edit{
    position: absolute;
    top: -16px;
    right: -16px;
    z-index: 100;
  }
  > .dragover{
    .fragment::after{
      position: absolute;
      background-color: blue;
      border: 2px solid white;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;
    }
  }
}
