body{
  position: relative;
}
img{
  display: block;
  margin: auto;
}

sh-device{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0px;
  position: relative;
  .device{
    display: inline-block;
    position: relative;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #f4f4f4;
    z-index: 49;
    &:not(.crop){
      .device-background{
        visibility: hidden;
      }
    }
    &.crop{
      overflow: hidden;
    }
    &:hover{
      sh-fragment .controls{
        visibility: visible;
      }
    }
    &.dragover{
      border: 2px #444 inset;
      sh-fragment{
        position: relative;
        z-index: 49;
      }
    }
    .fragment-container{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
  }
  img{
    position: absolute;
    z-index: 48;
    top:0;
    bottom:0;
    left:0;
    right:0;
  }
}

sh-device sh-layout{
  min-height: 0px;
  max-height: none;
  flex: 1;
}

sh-fragment, sh-fragment > div:not(.controls){
  display: block;
  .fragment{
    position: relative;
  }
}


sh-fragment{
  display: flex;
  flex: auto;
  cursor: move;
  overflow: hidden;
  position: relative;
  border: 1px solid transparentize(#f4f4f4, 0.7);
  > div:not(.controls){
    flex: 1;
  }
  .controls{
    visibility: hidden;
    position: absolute;
    text-align: right;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  > .dragover{
    .fragment::after{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;
    }
  }
}

.device:not(.crop) sh-fragment .fragment::after{
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 60;
  background-color: transparentize(blue, 0.7);
  content: ' ';
}

sh-fragment-setting{
  position: relative;
  display: block;
  z-index: 100;
}

[sh-draggable]{
  cursor: move;
}


sh-layout{
  display: flex;
  flex-direction: column;
  margin: 3px 0px;
  min-height: 60px;
  max-height: 60px;
  &:hover{
    cursor: pointer;
  }
  sh-layout-divider.flex-column, sh-layout-divider.flex-row{
    flex: 1;
    sh-layout-rect{
      display: flex;
      flex: 1;
      background-color: #ccc;
      margin: 1px;
    }
  }
  sh-layout-divider.flex-row{
    display: flex;
    flex-direction: row;
  }
  sh-layout-divider.flex-column{
    display: flex;
    flex-direction: column;
    sh-layout-rect{
      flex:1;
      min-height: 0px;
    }
  }
}
