img{
  display: block;
  margin: auto;
}

sh-device{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0px;
  position: relative;
  .device{
    display: inline-block;
    position: relative;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #f4f4f4;
    z-index: 49;
    &:not(.crop){
      .device-background{
        visibility: hidden;
      }
    }
    &.crop{
      overflow: hidden;
    }
    &:hover{
      sh-fragment .controls{
        visibility: visible;
      }
    }
    &.dragover{
      sh-fragment{
        position: relative;
        z-index: 49;
      }
    }
  }
  img{
    position: absolute;
    z-index: 48;
    top:0;
    bottom:0;
    left:0;
    right:0;
  }
}

sh-fragment, sh-fragment > div{
  display: block;
  width: inherit;
  height: inherit;
  .fragment{
    position: relative;
  }
}


sh-fragment{
  .controls{
    visibility: hidden;
    position: absolute;
    text-align: right;
    top: 8px;
    left: 0;
    right: 0;
    z-index: 100;
  }
  // .fragment-edit{
  //   position: absolute;
  //   top: -16px;
  //   right: -16px;
  //   z-index: 100;
  // }
  > .dragover{
    .fragment::after{
      position: absolute;
      background-color: blue;
      border: 2px solid red;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;
    }
  }
}

.device:not(.crop) sh-fragment .fragment::after{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 60;
  border: 2px solid white;
  content: ' ';
}

sh-fragment-setting{
  position: relative;
  display: block;
  z-index: 100;
}
