<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingOne">
    <div class="row middle-xs">
      <h5 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFlickr" aria-expanded="true" aria-controls="collapseOne">
          Flickr
        </a>
      </h5>
      <form class="form-inline col-xs end-xs" ng-submit="$ctrl.search($event)">
        <div class="form-group form-group-sm">
          <input type="text" class='form-control' ng-model='$ctrl.terms' placeholder="Buscar por termo">
        </div>
        <button type="submit" class="btn btn-default btn-sm">Ok</button>
      </form>
    </div>
  </div>
  <div id="collapseFlickr" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <div class='sh-flickr-gallery'>
        <div class='sh-flickr-img' ng-repeat="photo in $ctrl.photos as photos track by $index">
          <img ng-src="{{photo.url_m}}" class="img-responsive"/>
        </div>
        <h5 ng-if="!photos.length">Carregando...</h5>
      </div>
    </div>
  </div>
</div>
